[submodule "Node-Express-Example"]
	path = Node-Express-Example
	url = https://github.com/Dimitris-Kaler/Node-Express-Example.git
[submodule "Liberty-Microprofile-Rest-Service-Example"]
	path = Liberty-Microprofile-Rest-Service-Example
	url = https://github.com/Dimitris-Kaler/Liberty-Microprofile-Rest-Service-Example.git
[submodule "Quarkus-Microprofile-REST-service-example"]
	path = Quarkus-Microprofile-REST-service-example
	url = https://github.com/Dimitris-Kaler/Quarkus-Microprofile-REST-service-example.git
[submodule "Simple-Spring-Boot-REST-Service-Example"]
	path = Simple-Spring-Boot-REST-Service-Example
	url = https://github.com/Dimitris-Kaler/Simple-Spring-Boot-REST-Service-Example.git
[submodule "simple-node-rest-example"]
	path = simple-node-rest-example
	url = https://github.com/Dimitris-Kaler/simple-node-rest-example.git
